body {
	background: #000;
	color: #FFF;
	text-align: center;
}

div#matching_board{
	background:#000;
	border:#999 1px solid;
	width:778px;
	height:500px;
	padding:24px;
	margin:0px auto;
}

div#matching_board > div{
	background: url(../res/cover.png) no-repeat;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:18px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}